<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>CodeBucket</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Images/Official/app_icon.png</string>
		<string>Images/Official/app_icon_retina.png</string>
		<string>Images/Official/app_icon_ipad.png</string>
		<string>Images/Official/spotlight_icon.png</string>
		<string>Images/Official/spotlight_icon_retina.png</string>
		<string>Images/Official/spotlight_icon_ipad.png</string>
		<string>Images/Official/app_icon_ipad_retnia.png</string>
		<string>Images/Official/spotlight_icon_ipad_retina.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>codebucket</string>
	<key>CFBundleVersion</key>
	<string>1.1.0.0</string>
	<key>MinimumOSVersion</key>
	<string>5.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
